@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lobster);
ul li, a {
  list-style: none;
  color: white;
  text-decoration: none;
  transition: 1s; }
  ul li:visited, a:visited {
    color: white; }
  ul li:link, a:link {
    color: white; }
  ul li:hover, a:hover {
    color: #428bca;
    text-decoration: underline; }

img {
  width: 98%; }

body {
  margin: 0; }
  body #wrapper {
    background-image: url("../images/SpringPoppies1-1-230.jpg");
    background-attachment: fixed;
    background-repeat: repeat; }
    body #wrapper header {
      height: 70px;
      background: -moz-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(83, 18, 91, 0)), color-stop(2%, rgba(83, 18, 91, 0.85)), color-stop(98%, rgba(83, 18, 91, 0.85)), color-stop(100%, rgba(83, 18, 91, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053125b', endColorstr='#0053125b',GradientType=1 );
      /* IE6-9 */
      width: 93%;
      margin: 5px auto;
      margin-top: 0;
      text-align: center; }
      body #wrapper header div a {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        position: relative;
        bottom: 10px; }
        body #wrapper header div a:visited {
          color: white; }
      body #wrapper header span {
        text-align: center;
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        position: relative;
        bottom: 20px; }
    body #wrapper #content {
      background: -moz-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(83, 18, 91, 0)), color-stop(2%, rgba(83, 18, 91, 0.85)), color-stop(98%, rgba(83, 18, 91, 0.85)), color-stop(100%, rgba(83, 18, 91, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(83, 18, 91, 0) 0%, rgba(83, 18, 91, 0.85) 2%, rgba(83, 18, 91, 0.85) 98%, rgba(83, 18, 91, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0053125b', endColorstr='#0053125b',GradientType=1 );
      /* IE6-9 */
      width: 93%;
      margin: 0 auto;
      padding: 5px 35px;
      overflow: auto;
      min-height: 720px; }
      body #wrapper #content section {
        min-height: 720px;
        width: 81%;
        border: 1px solid white;
        border-radius: 10px;
        float: right; }
        body #wrapper #content section article {
          font-family: 'Oswald', sans-serif;
          color: white;
          border: 1px solid white;
          border-radius: 10px;
          display: flex;
          margin: 5px;
          padding: 5px; }
          body #wrapper #content section article .topic_info {
            width: 13%;
            text-align: center; }
          body #wrapper #content section article .vote {
            margin-top: 30px;
            text-align: center;
            width: 5%; }
            body #wrapper #content section article .vote .glyphicon glyphicon-chevron-up {
              color: green; }
              body #wrapper #content section article .vote .glyphicon glyphicon-chevron-up:hover {
                color: green; }
            body #wrapper #content section article .vote .glyphicon glyphicon-chevron-down {
              color: red; }
              body #wrapper #content section article .vote .glyphicon glyphicon-chevron-down:hover {
                color: red; }
          body #wrapper #content section article .topic_content {
            width: 90%; }
          body #wrapper #content section article img {
            width: 80%;
            height: 80px;
            border-radius: 5px; }
      body #wrapper #content nav ul {
        margin: 0 auto; }
      body #wrapper #content footer {
        width: 18%;
        border: 1px solid white;
        border-radius: 10px; }
        body #wrapper #content footer ul {
          font-family: 'Oswald', sans-serif;
          font-size: 30px;
          text-align: center;
          margin: 5px auto;
          padding: 0;
          padding-left: 5px; }
          body #wrapper #content footer ul li {
            margin: 5px; }
